
<h3><a href="/projects">Projects</a></h3>


<ul>
  <% @projects.each do |project| %>
    <li> <a href="/project/<%= project.id %>"> <%= project.title %> </a> </li>
  <% end %>
</ul>

<form class="form-group" action="/projects" method="post">

  <div class="add_project">
    <label for="title">Project:</label>
    <input type="text" name="title" id="title" required>
  </div>
  <button type="submit" class="btn btn-success" name="button">Create Project</button>
</form>

<!-- <a href="/">Back to Home</a> -->
