


  <h3>Project Portal</h3>

<h3><%= @projects.title %></h3>

<form class="form-group" action="/projects/<%= @id %>/update" method="patch">

  <label for="new_title">Edit Project Title</label>
  <input type="text" name="new_title" id="new_title">
<button type="submit" name="button">Update Project</button>

</form>

  <a href="/">Back to Home</a>
