<h3>Volunteer Page</h3>


<!-- # <% if @projects.length > 0 && @volunteers.length > 0 %>
#   <%= '<h3><a href="/volunteers">Volunteers</a></h3>' %>
# <% end %>
#
# <ul>
#   <% @volunteers.each do |volunteer| %>
#     <li><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
#   <% end %>
# </ul>
#
# <form class="form-group" action="/admin" method="post">
#   <h4>Add new volunteer</h4>
#   <div class="add_volunter">
#     <label for="name">Name</label>
#     <input type="text" name="name" id="name">
#     <button type="submit" class="btn btn-info" name="button">Add Patient</button>
#   </div>
# </form> -->
